@import '~github-fork-ribbon-css/gh-fork-ribbon.css';

$okColor: #666;
$conflictingColor: darkorange;
$failingColor: red;

.github-fork-ribbon.right-top:before {
    background-color: #f80;
}

.link {
    fill: none;
    stroke: $okColor;
    stroke-width: 1.5px;
}

#conflicting {
    fill: $conflictingColor;
}

.link.conflicting {
    stroke: $conflictingColor;
    stroke-dasharray: 0,2 1;
}

#failing {
    fill: $failingColor;
}

.link.failing {
    stroke: $failingColor;
}

.link.behind {
    stroke-dasharray: 0,2 1;
}

circle {
    fill: #ccc;
    stroke: #333;
    stroke-width: 1.5px;
}

text {
    font: 10px sans-serif;
    pointer-events: none;
    text-shadow: 0 1px 0 #fff, 1px 0 0 #fff, 0 -1px 0 #fff, -1px 0 0 #fff;
}
